@import "tailwindcss";
@font-face {
  font-family: "Rooster";
  src: url("./assets/fonts/ROOSTER.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* className="flex md:flex-col overflow-x-auto md:overflow-x-visible shadow-lg bg-white md:w-1/6 w-full" */
